
/*INÍCIO DO MODAL FORMULÁRIO DE INSCRIÇÃO (Alana e Bernardo)*/
.bg-modal{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.700);
    position: fixed;
    z-index: 2;
    top: -200%;
    display: block;
    transition: 350ms;
    overflow-y: scroll;
  }
  
  .modal{
    width: 80%;
    height: auto;
    background-color: #e6e6e6;
    border: none;
    border-radius: 5px;
    margin: 80px  auto 0 auto;
  }

  .modal span{
    float: right;
    font-size: 50px;
    color: #14279B;
    bottom: 30rem;
    margin-right: 2rem;
    transition: 350ms;
    cursor: pointer;
    position: relative;
  }
  
  .modal span:hover{
    color: #ff0000;
    transition: 350ms;
  }

  /*INÍCIO DO FORMULÁRIO DE INSCRIÇÃO (Alana e Bernardo)*/
  
  form{
    display: grid; 
  }
  
  fieldset{
    width: 80%;
    height: auto; 
    margin: auto;
    border: 2px solid #3D56B2;
    border-radius: 5px;
  }
  
  legend{
    font-size: 22px;
    color: #000000;
    margin-left: 3rem;
  }
  
  #form div{
    margin: 10px;
  }
  
  #form input{
    padding: .3rem;
    border-radius: 5px;
    width: auto;
    border: none; 
  }
  
  #endereco{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
  }
  
  #text{
    float: left;
    display: flex;
    flex-wrap: wrap;
    border: none;
  }
  
  #form button{
    background-color: #14279B;
    color: #E6E6E6;
    width: 15%;
    height: 30px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #14279B; 
    cursor: pointer;
    margin-bottom: 2rem;

  }
#exibirDadosLogin{
  display: none;
  height: 800px;
  width: 100%;
  background-color: red;
  column-rule: purple;
}
 
/* POP UP */
#fundoPopUp{
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  z-index: 0;
  top: -150%;
  transition: 350ms;
}


#popUp{
  width: 30vw;
  height: 20vw;
  background-color: rgba(99, 98, 96, 0.966);
  position: absolute;
  top: -100%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 20px;
}

#div{
  position: absolute;
  color: #e6e6e6;
  top: 5vw;
  left: -1vw;
  width: 30vw;
  text-align: center;
  font-size: 1rem;
}

#div p{
  font-size: 25px;
  line-height: 40px;
}

#popUp #ok{
  position: absolute;
  top: 6%;

  width: 60px;
  height: 25px;

  background-color: #C49D21;
  color: #E6E6E6;
  text-shadow: 1px 1px #3D56B2;
  box-shadow: 2px 2px 0px 1px rgb(75, 74, 73);

  font-size: 1rem;

  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#popUp #ok:hover{
  background-color: #cfa51b;
}


#popUp #ok:active{
  box-shadow: 0px 0px 0px 0px rgb(75, 74, 73), inset 3px 3px 3px rgb(75, 74, 73);
  transform: translate(3px, 3px);
}


