/* RESETANDO AS CONFIGURAÇÕES*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', 'Arial',sans-serif;
  width: 100%;  
}

body{
  display: grid;
  background: #E6E6E6;
  
}

/* O z-index do div#mask deve ser menor que do div#boxes e do div.window */
#mask {position:absolute;
  z-index:9000;  
  background-color:#000; 
  display:none;
  }
  
#boxes .window {
  position:absolute;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
  }
  
  /* Personalize a janela modal aqui. Você pode adicionar uma imagem de fundo. */
#boxes #dialog{
  width:50%;
  height:50%;
  background: #5C7AEA;
  border-radius: 25px;
  }

  /*Posiciona o link para fechar a janela */
.close {
  display:block; 
  text-align:right;
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
  } 

 .modal {
    margin: auto;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 1rem;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #5C7AEA;
    background: #14279B;
  
  }

/* ESTILIZAÇÃO DO HEADER  */

#header{
  display: flex;
  justify-content: center;
  background-color: #14279B;
}

#login{
  width: 20%;
  height: 50px;
  margin: auto 2rem;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  border: none;
  background-color: #5C7AEA;
  box-shadow: 1px 1px 10px 10px #E6E6E6;
  cursor: pointer;
}

/* LOGO */
.logo img{
  width: 300px;
  height: 160px;
}

/* PESQUISA */
#pesquisa{
  display: flex;
  margin: auto;
}

#busca{
  display: flex;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  border: none;
}

#btn-pesquisa{
  width: 50px;
  height: 20px;
  margin-top: .3rem;
  margin-left: .5rem;
  border-radius: 5px;
  border: none;
  background-color: #5C7AEA;
  box-shadow: 1px 1px 5px 5px#E6E6E6;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

/* ACESSIBILIDADE / ZOOM */
.zoom{  
  position: fixed;
  justify-content: center; 
  width: 70px;
  height: 30px;
  bottom: 26rem;
  left: 0;
  gap: .4rem;
}

.zoom button{
  font-weight: bold;
  padding: .3rem;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background: #14279B;
  box-shadow: 1px 1px 10px #5C7AEA;
}

.titulo{
  background: #14279B;
  color: #fff;
  width: 50%;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 25px;
  margin: 0 auto;
  padding: 1rem;
  height: auto;
}

.titulo h2{
  margin-bottom: 1rem;
}

/* CALCULADORA DO HUGO */
#btnCalc{
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
}

#calc h3{
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px; 
  color: #E6E6E6;
}

#textCalc{
  color: #E6E6E6;
}

#textCalc h3{
  font-size: 1rem;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
}

#textCalc p{
  text-align: center;
  
  padding: 5px;
}

#mostrar{
  background-color: #14279B;
  color: #E6E6E6;
  width: auto;
  height: 30px;
  border: 1px solid #E6E6E6;
  box-shadow: 4px 4px 4px #909090; 
  margin: 0 .3rem;
  cursor: pointer;
}

#normal{
  background-color: #14279B;
  color: #E6E6E6;
  width: auto;
  height: 30px;
  border: 1px solid #E6E6E6;
  box-shadow: 4px 4px 4px #909090;
  margin: 0 .3rem;
  cursor: pointer;  
}

#cientifica{
  background-color: #14279B;
  color: #E6E6E6;
  width: auto;
  height: 30px;
  border: 1px solid #E6E6E6;
  box-shadow: 4px 4px 4px #909090;
  margin: 0 .3rem;
  cursor: pointer;
}

.container{
  position: absolute;
  right: 25px;
  margin: 0 auto;
  width: 270px;
  height: auto;
  padding: 5px;
  background: #E6E6E6;
  border: 1px solid #E6E6E6;
  box-shadow: 4px 4px 4px #909090;
}

.top{
  position: relative;
  width: 97%;
  height: 48px;
  padding: 6px;
  background: #3D56B2;

}

.campo{
  width: 100%;
  height: 45px;
  border: none;
  color: white;
 
  background-color: #5C7AEA;
  font-size: 2.5rem;
  text-align: right;
}

.body{
  margin-top: 10px;
  width: 95%;
  height: auto;
  padding: 10px;
  background: #dedede;
}

.btn{
margin-top: 4px;
width: 40px;
height: 37px;
background: #14279B;
color: #fff;
cursor: pointer;
box-shadow: 2px 2px 2px 2px white;
border: none;
font-size: 2rem;

}

.zero{
  width: 130px;
}

.igual{
  background-color: #5C7AEA;;
}

#op{
  position: absolute;
  z-index: 50;
  margin: 15px 10px;
  font-weight: bold;
  color: white;
}
/* CADASTRO DE PRODUTOS */
main{
  padding: 30px 50px;
  margin: auto;  
}

.card{
  background-color: #5C7AEA;
  border: 2px solid #14279B;
  padding: 20px;
  margin-top: 15px;
  border-radius: 25px;
}

.linhaDeInput{
  display:grid; 
  margin-bottom: 10px;
}

label{
  color: #14279B;
  font-size: 18px;
  font-weight: bold;

}

.linhaDeInput input{
  padding: 10px;
  border: 2px solid #14279B;
  border-radius: 25px;
  outline: 0; 
}

.files input{
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
}

#btn1, #btn1-1{
  border:0;
  padding: 10px;
  outline: 0;
  color: #14279B;
  border: 2px solid #14279B;
  border-radius: 25px;
  font-weight: bold;
  transition: all ease 0.5s;
  width: 80px;
}

#btn1:hover,#btn1-1:hover{
  background-color: #14279B;
  color: #E6E6E6;
  cursor: pointer;
}

#foto{
  border:3px solid #14279B;
  width: 30%;
  height: auto;
  background-color: rgb(255, 255, 255);
  margin: auto;
}

#imgFoto{
  width: 100%;
  height: 100%;
}

.conteudo{
  margin-top: 15px;
}

table{
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%;
  border: none;
}

table th{
  background-color: #14279B;
  color: #fff; 

}

table th, td{
  padding: 3px 5px;
  text-align: center; 
  border: none;
  border-radius: 5px;
  width: auto;
  height: 2rem;
}

table td{
  background: #5C7AEA;
}

table td img{
  width: 22px;
  cursor: pointer;
}


.center th{
  text-align: center;
}


/* FOOTER (Djou)*/
#containerF{
  background-color: #3D56B2;
  padding: 10px;
  margin-top: 10px;
  height: 200px;

  text-align: center;
}

#footerOrientação{
  display: flex;
  justify-content: space-around;
}

#footerOrientação div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;

  margin-top: 20px;
  margin-bottom: 25px;
}

#footerOrientação div h3{
  color: #C49D21;
}

#footerOrientação div a{
  color: #E6E6E6;
}
/* FIM DO FOOTER (Djou)*/

@media screen and (max-width: 800px){

  #header img{
    width: 200px;
    height: 100px;
  }
  
  .zoom{
    margin-top: 20rem;
    
  }

 .titulo{
   width: 100%;
 }

 #busca{
  width: 100px;
}

 #contato{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
 }
 
 .copy{
   text-align: center;
 }

}
 

